<%= javascript_include_tag "sidebar"%>
<div id="sidebar" class="sidebar collapsed">
  <ul class="sidebar-tabs" role="tablist">
    <li><a href="#upload" role="tab" id="upload-button"><i class="fa fa-upload"></i></a></li>
  </ul>

  <div class="sidebar-content active">
    <div class="sidebar-pane" id="upload">
      <h1>Загрузка фотографии</h1>
      <%= form_for @photo, :html => {:multipart => true} do |f| %>
      <p>
        <label>Выберите ваше фото и место на карте</label>
        <%= f.file_field :image %>
        <%= f.hidden_field :latitude %>
        <%= f.hidden_field :longitude %>
        <%= f.submit "Загрузить",
            id: 'upload-photo',
            disabled: true,
            class: "btn btn-primary" %>
      </p>
      <% end %>
    </div>
  </div>
</div>
