<!DOCTYPE html>
<html>
  <head>
    <title>PhotoKharkiv</title>

    <%= stylesheet_link_tag    'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>

    <% if current_page?(root_path) %>
      <%= yield %>
      <% if current_user %>
      <%= render "layouts/sidebar" %>
      <% end %>
    <% else %>
      <div class="container">
	<%= yield %>
      </div>
    <% end %>
  </body>
</html>
