<!DOCTYPE html>
<html>
  <head>
    <title>PhotoKharkiv</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Фото Харьков</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
            <li>
              <%= link_to current_user.name, current_user %>
            </li>
            <li>
              <%= link_to('Выйти', destroy_user_session_path, method: :delete) %>
	    </li>
	    <% else %>
	    <li><%= link_to('Войти на сайт', new_user_session_path) %></li>
            <li><%= link_to('Зарегистрироваться', new_user_registration_path) %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <div>
        <div class="notice"><%= notice %></div>
        <div class="alert"><%= alert %></div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
